
#com {
    display: block;
    margin: auto;
    width: 285px;
    text-align: center;
    padding-right: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -4px;
    padding-left: 130px;
    font-family: Helvetica;
    height: calc( 100% - 200px );
}

.botoes {
    font-size: 19px;
    font-family: Helvetica;
    background: #540000;
    color: white;
    width: 163px;
    border-radius: 23px;
    height: 34px;
    margin-left: -35px;
    margin-top: 10px;
}

.l2 {
    background: rgba(84, 0, 0, 0.06);
}

tr {
    margin-bottom: 1px;
}

#lblcom {
    background: #540000;
    color: white;
    font-family: Helvetica;
    height: 47px;
    font-size: 21px;
    text-align: left;
    text-indent: 2em;
    width: 622px;
    padding-left: 63px;
    overflow-wrap: break-word;
    text-shadow: black 3px 4px 9px;
    margin: auto;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 11px;
    padding-top: 91px;
}

.info {
    color: #540000;
    text-decoration: none;
    display: block;
    margin-left: 0;
    padding-left: 0px;
    font-weight: 600;
    font-size: 17px;
}

.cabe {
    font-family: helvetica;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    background: #540000;
    padding: 5px;
}

#nome {
    display: block;
    width: 252px;
}
