@media only screen and (max-device-width: 480px) {
    center {
        display: none;
    }
    html, body {
        margin: 0px;
        padding: 0px;
        font-family: FontMenu;
        height: 1800px;
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    body {
        background-image: url(../Images/Comidas.png);
    }


    #Nos {
        font-size: 110px;
        color: white;
        font-family: helvetica;
        width: 491px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 19%;
        text-shadow: black 2px 2px 2px;
    }

    @font-face {
        font-family: 'MTCORSVA';
        src: url('../Font/MTCORSVA.TTF') format('truetype');
    }

    #Textim {
        font-size: 43px;
        color: white;
        font-family: "MTCORSVA";
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        width: 468px;
        text-align: center;
        text-shadow: black 2px 2px 2px;
    }

    #Voltar {
        line-height: 100px;
        width: 77%;
        margin: auto;
        font-family: helvetica;
        color: #ffffff;
        font-size: 43px;
        text-align: center;
        text-shadow: black 2px 2px 2px;
    }

    #Cadastrar {
        line-height: 100px;
        width: 77%;
        margin: auto;
        font-family: helvetica;
        color: #ffffff;
        font-size: 43px;
        margin-top: 53px;
        text-align: center;
        text-shadow: black 2px 2px 2px;
        background: #9e0000;
    }

    #Formulario {
        width: 66%;
        margin: auto;
        text-align: center;
        background: rgba(255, 255, 255, 0.21);
        padding: 44px;
        margin-top: 118px;
        padding-top: 17px;
    }

    span {
        color: white;
        font-family: helvetica;
        font-size: 50px;
        width: 100%;
        text-shadow: black 2px 2px 2px;
    }

    input {
        width: 90%;
        height: 75px;
        font-size: 43px;
        padding-left: 8px;
    }

    #ddlEstabelecimento {
        width: 90%;
        height: 75px;
        font-size: 43px;
        padding-left: 8px;
    }
}

@media only screen and (min-device-width: 481px) {
    center {
        display: none;
    }

    html, body {
        margin: 0px;
        padding: 0px;
        background-image: url(../Images/Comidas.png);
        font-family: FontMenu;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    #fundo {
        margin: 0px;
        padding: 0px;
        background-image: url(../Images/Comidas.png);
        font-family: FontMenu;
        width: 100%;
        position: absolute;
        z-index: -5;
        filter: blur(1px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    #Nos {
        font-size: 50px;
        color: white;
        font-family: helvetica;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
        text-shadow: black 2px 2px 2px;
        text-align: center;
    }

    @font-face {
        font-family: 'MTCORSVA';
        src: url('../Font/MTCORSVA.TTF') format('truetype');
    }

    #Textim {
        font-size: 18px;
        color: white;
        font-family: "MTCORSVA";
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        text-align: center;
        text-shadow: black 2px 2px 2px;
    }

    #Voltar {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #9e0000;
        font-family: helvetica;
        color: #ffffff;
        font-size: 17px;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 9px;
        text-shadow: black 2px 2px 2px;
        cursor: pointer;
    }

    #Cadastrar {
        position: absolute;
        bottom: 21px;
        height: 7%;
        width: 100%;
        font-family: helvetica;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        padding-top: 23px;
        text-shadow: black 2px 2px 2px;
        border: none;
        background: none;
        cursor: pointer;
    }

    #Formulario {
        width: 213px;
        margin: auto;
        text-align: center;
        background: rgba(255, 255, 255, 0.21);
        padding: 44px;
        margin-top: 20px;
        padding-top: 0px;
        padding-left: 32px;
        padding-bottom: 28px;
    
    }

    span {
        color: white;
        font-family: helvetica;
        font-size: 18px;
        width: 100%;
        text-shadow: black 2px 2px 2px;
        padding-left: 18px;
    }

    input {
        width: 106%;
        height: 26px;
        font-size: 18px;
        padding-left: 8px;
    }

    #ddlEstabelecimento {
        width: 90%;
        height: 75px;
        font-size: 43px;
        padding-left: 8px;
    }
}
